html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Finished Products
    link(rel='icon', type='image/png', href='/img/dev_co.png')
    // CSS Files

    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/landing.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    //- link(href='https://fonts.googleapis.com/css?family=Indie+Flower', rel='stylesheet')
    link(href='/css/featherlight.min.css', type='text/css', rel='stylesheet')
    body
    <!-- Navigation -->
        nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='/') TechDev
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link(href='#') About Us
                        //- li.nav-item
                        //-     a.nav-link(href='#') Login
                        //- li.nav-item
                        //-     a.nav-link(href='#') Soup
                        //- li.nav-item
                        //-     a.nav-link(href='#') Shushi rolls
                        //- li.nav-item
                        //-     a.nav-link(href='#') Spaghetti
                        //- li.nav-item
                        //-     a.nav-link(href='#') Pasta
        // Masthead
        header.masthead.text-white.text-center
            .overlay
            .container
                .row
                    .col-xl-9.mx-auto.mt-5
                        h1.mb-5 Web &bull; Mobile &bull; Design
                    .col-xl-12.mx-auto.order-now.my-padding
                        a(href='#') Prices!
        // Gallery
        section#photos
            h1.mb-5.text-center FEATURED PRODUCTS
            .container
                .row
                    .col-lg-4.col-sm-6.portfolio-item
                        img.card-img-top(src='/img/product1.png', alt='')
                        a(href='/signup')
                            h2 Signup
                        h4.text-center Try our well validated signup pages 
                        h6.text-center(style="color:red;") NB: Your information is safe
                    .col-lg-4.col-sm-6.portfolio-item
                        img.card-img-top(src='/img/product2.png', alt='')
                        a(href='/login')
                            h2 Login
                        h4.text-center Try our well validated login pages 
                        h6.text-center(style="color:red;") NB: Your information is safe
                    .col-lg-4.col-sm-6.portfolio-item
                        img.card-img-top(src='https://images.pexels.com/photos/211122/pexels-photo-211122.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', alt='coming soon')
                        a(href='#', data-featherlight='https://images.pexels.com/photos/211122/pexels-photo-211122.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', alt='coming soon')
                            h2 Coming Soon
                    //- .col-lg-4.col-sm-6.portfolio-item
                    //-     img.card-img-top(src='https://images.pexels.com/photos/684965/pexels-photo-684965.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', alt='')
                    //-     a(href='#', data-featherlight='https://images.pexels.com/photos/684965/pexels-photo-684965.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    //-         h2 Shushi rolls
                    //- .col-lg-4.col-sm-6.portfolio-item
                    //-     img.card-img-top(src='https://images.pexels.com/photos/64208/pexels-photo-64208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', alt='')
                    //-     a(href='#', data-featherlight='https://images.pexels.com/photos/64208/pexels-photo-64208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    //-         h2 Spaghetti
                    //- .col-lg-4.col-sm-6.portfolio-item
                    //-     img.card-img-top(src='https://images.pexels.com/photos/803963/pexels-photo-803963.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', alt='')
                    //-     a(href='#', data-featherlight='https://images.pexels.com/photos/803963/pexels-photo-803963.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    //-         h2 Pasta
        // gallery end
        // Testimonials
        section.testimonials.text-center.mybg
            .container
                h2.mb-5 Our Developers
                .row
                    .col-lg-4
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            img.img-fluid.rounded-circle.mb-3(src='/img/avatar.png', alt='img')
                            h5 Fred S.
                            p.font-weight-dark.mb-0 &quot;Lorem ipsum dolor sit amet!&quot;
                    .col-lg-4
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            img.img-fluid.rounded-circle.mb-3(src='/img/avatar.png', alt='img')
                            h5 Margaret E.
                            p.font-weight-dark.mb-0 &quot;Lorem ipsum dolor sit amet&quot;
                    .col-lg-4
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            img.img-fluid.rounded-circle.mb-3(src='/img/avatar.png', alt='img')
                            h5 Sarah&#x9;W.
                            p.font-weight-dark.mb-0 &quot;Lorem ipsum dolor sit amet!&quot;
        //- // Call to Action
        //- section.call-to-action.text-white.text-center
        //-     .overlay
        //-     .container
        //-         .row
        //-             .col-xl-9.mx-auto
        //-                 h2.mb-4 Ready to get started?
        //-             .col-md-10.col-lg-8.col-xl-7.mx-auto
        //-                 form
        //-                     .form-row
        //-                         .col-12.col-md-9.mb-2.mb-md-0
        //-                             input.form-control.myform.form-control-lg(type='email', placeholder='Enter your email...')
        //-                         .col-12.col-md-3
        //-                             button.btn.mybtn.btn-block.btn-lg.btn-danger(type='submit') Submit
        // Footer
        section#footer
            .container
                .row.text-xs-center.text-sm-left.text-md-left.mb-5
                    .col-xs-12.col-sm-4.col-md-3
                        h5.txt-upper About TechDev
                        p.myfont-color.text-justify
                        p.myfont-color FOLLOW US:
                        ul.list-unstyled.list-inline.social
                            li.list-inline-item
                                a(href='javascript:void();')
                                    i.fa.fa-facebook
                            //- li.list-inline-item
                            //-     a(href='javascript:void();')
                            //-         i.fa.fa-twitter
                            //- li.list-inline-item
                            //-     a(href='javascript:void();')
                            //-         i.fa.fa-instagram
                            //- li.list-inline-item
                            //-     a(href='javascript:void();')
                            //-         i.fa.fa-google-plus
                            //- li.list-inline-item
                            //-     a(href='javascript:void();', target='_blank')
                            //-         i.fa.fa-envelope
                    .col-xs-12.col-sm-4.col-md-3.myfont-color
                        h5.txt-upper HOURS
                        p Weekdays:
                            br 
                            | Mon-Fri: 11:30 AM - 2:30 PM
                            br
                            br 
                            | Weekends:
                            br 
                            | Sat: 9:30 PM - 4:30 PM
                            br 
                            | Sun: 5:00 PM - 8:30 PM
                    .col-xs-12.col-sm-4.col-md-3
                        h5.txt-upper Featured Products
                        ul.list-unstyled.quick-links
                            li
                                a(href='/signup') Signup
                            li
                                a(href='/login') Login
                            li
                                a(href='javascript:void();') Coming Soon
                            //- li
                            //-     a(href='javascript:void();') Shushi rolls
                            //- li
                            //-     a(href='javascript:void();') Spaghetti
                            //- li
                            //-     a(href='javascript:void();') Pasta
                    .col-xs-12.col-sm-4.col-md-3
                        h5.txt-upper Quick links
                        ul.list-unstyled.quick-links
                            li
                                a(href='#') About
                            //- li
                            //-     a(href='javascript:void();') Gallery
                            //- li
                            //-     a(href='javascript:void();') Contact Us
                hr.myhr
                .row
                    .col-xs-12.col-sm-12.col-md-12.mt-2.mt-sm-2.text-white
                        p.h6
                            a.text-green.ml-2(href='/', target='_blank') TechDev
                    hr
        // Footer
        .scroll-top-wrapper
            span.scroll-top-inner
                i.fa.fa-2x.fa-arrow-circle-up

        script(src='/js/jquery-3.2.1.min.js')
        script(src='/js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/landing.js')
        script(src='/js/featherlight.min.js', type='text/javascript', charset='utf-8')