extends ../layout

block main
    .main
        nav.navbar.navbar-default
                .container-fluid
                    .navbar-header(style='padding-left: 10px')
                        a(href='/')
                            button.btn.btn-secondary.btn-lg.navbar-btn.pull-left
                                span.i.zmdi.zmdi-chevron-left
                        .navbar-text.navbar-brand-centered
                            h5 Go Back
        // Sign in  Form
        section.sign-in
            .container
                .signin-content
                    .signin-image
                        figure
                            img(src='../img/signin-image.jpg', alt='sign up image')
                        a.signup-image-link(href='/signup') Create an account
                    .signin-form
                        h2.form-title#data(data-message=alertMessage data-title=alertTitle data-type=alertType data-timer=alertTimer) Sign in
                        form#login-form.register-form.validate-form(method='POST')
                            if alertMessage
                                script.
                                    Swal.fire({
                                        title: document.querySelector('#data').getAttribute('data-title'),
                                        text: document.querySelector('#data').getAttribute('data-message'),
                                        type: document.querySelector('#data').getAttribute('data-type'),
                                        timer: document.querySelector('#data').getAttribute('data-timer'),
                                        showConfirmButton: false,
                                    });
                                    if(document.querySelector('#data').getAttribute('data-title') === 'Error' ) {
                                        setTimeout(function() {
                                            location.assign('/verify_email')
                                        },3000)
                                    }
                                    //- if(document.querySelector('#data').getAttribute('data-type') === 'success' ) {
                                    //-     setTimeout(function() {
                                    //-         location.assign('/admin/signup')
                                    //-     },3000)
                                    //- }
                            .form-group
                                .wrap-input100.validate-input(data-validate='Email field is required')
                                    label(for='your_name')
                                        i.zmdi.zmdi-account.material-icons-name
                                    input#your_name.input100(type='email', name='email', placeholder='Your Email')
                            .form-group
                                .wrap-input100.validate-input(data-validate='Password field is required')
                                    label(for='your_pass')
                                        i.zmdi.zmdi-lock
                                    input#your_pass.input100(type='password', name='password', placeholder='Password')
                            //- .form-group
                            //-     input#remember-me.agree-term(type='checkbox', name='remember-me')
                            //-     label.label-agree-term(for='remember-me')
                            //-         span
                            //-             span 
                            //- each user, index in Users
                            .form-group.form-button
                                input#signin.form-submit(type='submit', name='signin', value='Log in')
                        .social-login
                            span.social-label Or login with
                            ul.socials
                                li
                                    a(href='#')
                                        i.display-flex-center.zmdi.zmdi-facebook
                                li
                                    a(href='#')
                                        i.display-flex-center.zmdi.zmdi-twitter
                                li
                                    a(href='#')
                                        i.display-flex-center.zmdi.zmdi-google
    script(src='/js/jquery-3.2.1.min.js')
    script(src='/js/validate.js')
    //- script(src='/js/validate2.js')
    //- script.
    //-     window.onload = function() {
    //-         Swal.fire({
    //-             type: 'success',
    //-             title: 'Well Validated Login Page',
    //-             text: 'Login if you have verified account.',
    //-             footer: '<a href="/signup">Else Signup Before Login</a>'
    //-         })
    //-     };